<div>
    <h2 translate="blogApp.entry.home.title">Entrys</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="entry.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        class="hidden-xs" translate="blogApp.entry.home.createLabel">Create new Entry
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery"
                               placeholder="{{ 'blogApp.entry.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page"> 
        <div ng-repeat="entry in entrys track by entry.id">  <h2>{{entry.title}}</h2> 
            <small>Posted on {{entry.date | date:'medium'}} by {{entry.blog.user.login}}</small>
            <div ng-bind-html="entry.content"></div>
            <div class="btn-group" style="margin-top: 10px"> 
                <button type="submit"   ui-sref="entry.detail({id:entry.id})"   class="btn btn-info btn-sm">  <span
                    class="glyphicon glyphicon-eye-open"></span>  <span class="hidden-xs hidden-sm"
                                                                        translate="entity.action.view"></span> 
                </button>
                 
                <button type="submit"   ui-sref="entry.edit({id:entry.id})"   class="btn btn-primary btn-sm">  <span
                    class="glyphicon glyphicon-pencil"></span>  <span class="hidden-xs hidden-sm"
                                                                      translate="entity.action.edit"></span> 
                </button>

                <button type="submit"   ui-sref="entry.delete({id:entry.id})"   class="btn btn-danger btn-sm">  <span
                    class="glyphicon glyphicon-remove-circle"></span>  <span class="hidden-xs hidden-sm"
                                                                             translate="entity.action.delete"></span> 
                </button>
            </div>
        </div>
    </div>

</div>
